#list .directory li:hover {background: #CFD1CA;}
#list .directory li[type="dir"]:hover, #list .directory li[type="exec"]:hover {background: #CFD1CA url("dir.png") 0 5px no-repeat;}

#list .crumbs span:hover {background: #20BCE3;color: #222;}