body {margin: 0; background: #E0E2DA; font: 14px/19px Arial, Verdana; -webkit-user-select: none;}

ul {list-style: none; margin: 0; padding: 0;}

#page {}

#header {text-align: center; height: 30px; background: #222; color: #ffffff; font-size: 20px; line-height: 30px; font-weight: bold; text-transform: uppercase; letter-spacing: 5px; position: relative;}
#header .exec-switcher {position: absolute; top: 0; right: 0; font-size: 14px; letter-spacing: normal; cursor: pointer; background: #222;}
#header .exec-switcher span {margin: 0 5px; display: inline-block; width: 24px; height: 24px; border-radius: 12px; background: #53e071; vertical-align: middle; color: #fff; line-height: 24px; font-weight: bold;}
#header .exec-switcher span.off {background: #df433f;}
#header .exec-switcher span.waite {background: #dfb040;}

#footer {text-align: center; height: 30px; padding: 10px;}
#footer .content {background: #F2F2F2; height: 100%; text-align: left; line-height: 30px; border: 1px solid #999;}
#footer .content a {text-decoration: none; color: #37519b; font-weight: bold; margin: 0 0 0 20px; display: inline-block;}

#list {padding: 0 10px;}
#list .wrapper {background: #F2F2F2; overflow-y: auto; border: 1px solid #999;}

#list .directory {}
#list .directory li {margin: 0 10px 0 10px; padding: 3px 10px 3px 40px; line-height: 30px; border-radius: 5px; cursor: pointer;}
#list .directory li[type="dir"], #list .directory li[type="exec"] {background: url("dir.png") 10px 5px no-repeat;}
#list .directory li:first-child {border-top-right-radius: 0; border-top-left-radius: 0;}

#list .crumbs {min-height: 30px; height: auto; padding: 3px 0;}
#list .crumbs span {display: inline-block; margin: 0 3px 0 0; cursor: pointer; border: 1px solid #e6e9dd; border-radius: 5px; padding: 0 10px; background: #222; color: #ffffff; line-height: 30px;}
#list .crumbs span.cur {background: #20BCE3;color: #222;}